body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(17%, gainsboro), color-stop(50%, #2e6da4));
  background: linear-gradient(90deg, gainsboro 17%, #2e6da4 50%);
  border-bottom: solid #2e6da4 5px;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2000;
}

header .logo {
  height: 8vh;
  margin-left: 15px;
}

header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: auto;
  top: auto;
  margin: 20px 20px 20px 80px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

header .search-container .leaflet-control-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

header .search-container .search-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  width: 40px;
  padding: 10px;
  margin: 2px;
  position: relative;
  box-sizing: border-box;
  background: url("/src/img/search-solid-white.svg") no-repeat 1px 1px #fff;
  border: none;
  background-color: #2e6da4;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

header .search-container .search-button:hover {
  color: black;
  border: solid black 4px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background: url("/src/img/search-solid-black.svg") no-repeat 1px 1px #fff;
}

header .search-container #searchtext17 {
  width: 300px;
  padding: 7px;
  margin: 0 5px;
  display: block !important;
  background-color: #dcdcdc;
  border-radius: 5px;
}

header .search-container #searchtext17 .search-input {
  height: 40px;
}

section {
  position: fixed;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
}

section #map {
  height: 100%;
  z-index: 1;
}

section #map .startViewBtn {
  border: none;
  background-color: #2e6da4;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  top: 180px;
  right: -2px;
  margin-right: 8px;
  position: fixed;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 2000;
}

section #map .startViewBtn .tooltip {
  position: absolute;
  display: none;
  width: 120px;
  padding: 4px;
  top: 45px;
  right: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
  background-color: black;
}

section #map .startViewBtn:hover {
  color: black;
  border: solid black 4px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

section #map .startViewBtn:hover .tooltip {
  display: inline;
}

section div.leaflet-control-layers.leaflet-control {
  display: none;
}

section .leaflet-control-zoom-in, section .leaflet-control-zoom-out {
  color: #2e6da4;
}

.side-control-panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 220px;
  left: -220px;
  background-color: #dcdcdc;
  border-right: solid #2e6da4 5px;
  z-index: 2000;
  -webkit-transition: left .2s ease-out;
  transition: left .2s ease-out;
}

.side-control-panel .base-layer-control-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 50px;
  width: 100%;
  margin: 100px 20px;
}

.side-control-panel .base-layer-control-container .base-layer-control {
  font-size: 12;
}

.side-control-panel .layer-control-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100px;
  width: 100%;
  margin: 20px;
  margin: 40px 20px;
}

.side-control-panel .layer-control-container .layer-control {
  font-size: 12;
}

.side-control-panel .layer-control-container .leaflet-control-layers-selector {
  fill: #2e6da4;
}

.side-control-panel .side-control-trigger {
  border: none;
  background-color: #2e6da4;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 20px;
  position: absolute;
  height: 80px;
  width: 40px;
  bottom: 0;
  right: -40px;
}

.side-control-panel .side-control-trigger:hover {
  color: black;
  border: solid black 4px;
  background-color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.side-control-panel .side-control-trigger .fa-arrow-left {
  display: none;
}

.side-control-panel .side-control-trigger .fa-arrow-right {
  display: block;
}

.active {
  left: 0px;
}
/*# sourceMappingURL=styles.css.map */