$blue: #2e6da4;
$gray: #dcdcdc;

@mixin button {
    border: none;
    background-color: $blue;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

@mixin buttonHover {
    color: black;
    border: solid black 4px;
    background-color: white;
    transition: all 0.2s ease;
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
}

header {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    position: fixed;
    height: 100px;
    background: linear-gradient(90deg, rgba(220,220,220,1) 17%, rgba(46,109,164,1) 50%);
    border-bottom: solid $blue 5px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2000;
    
    .logo {
        height: 8vh;
        margin-left: 15px;   
    }
   
    .search-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: auto;
        top: auto;
        margin: 20px 20px 20px 80px;
        background-color: white;
        border-radius: 5px;
        padding: 5px;
        
        .leaflet-control-search {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            margin: 0;
        }
        
        .search-button {
            display: block;
            box-sizing: border-box;
            height: 40px;
            width: 40px;
            padding: 10px;
            margin: 2px;
            position: relative;
            box-sizing: border-box;
            background: url("/src/img/search-solid-white.svg") no-repeat 1px 1px #fff;
            @include button;

            &:hover { 
                @include buttonHover;
                background: url("/src/img/search-solid-black.svg") no-repeat 1px 1px #fff;
            } 
        }

        #searchtext17 {
            width: 300px;
            padding: 7px;
            margin: 0 5px;
            display: block !important;
            background-color: $gray;
            border-radius: 5px;

            .search-input { 
                height: 40px;
            }
        }   
    }
}

section {
    position: fixed;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;

    #map { 
        height: 100%;
        z-index: 1;

        .startViewBtn {
            @include button;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            top: 180px;
            right: -2px;
            margin-right: 8px;
            position: fixed;
            height: 40px;
            width: 40px;
            cursor: pointer;
            z-index: 2000;

            .tooltip { 
                position: absolute;
                display: none;
                width: 120px;
                padding: 4px;
                top: 45px;
                right: 20px;
                font-family: 'Open Sans', sans-serif;
                font-size: 12px;
                color: white;
                background-color: black;
            }

            &:hover { 
                @include buttonHover;
                 
                .tooltip { 
                    display: inline;
                }
            }     
        }   
    }

    div.leaflet-control-layers.leaflet-control {
        display: none;
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out { 
        color: $blue;
    }
}

.side-control-panel {
    box-sizing: border-box;
    display: flex;
    justify-content: top;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 220px;
    left: -220px;
    background-color: $gray;
    border-right: solid $blue 5px;
    z-index: 2000;
    transition: left .2s ease-out;

    .base-layer-control-container {
        box-sizing: border-box;
        height: 50px; 
        width: 100%; 
        margin: 100px 20px;
        
        .base-layer-control {
            font-size: 12;
        }
    }

    .layer-control-container {
        box-sizing: border-box;
        height: 100px; 
        width: 100%; 
        margin: 20px;
        margin: 40px 20px;

        .layer-control {
            font-size: 12;
        }

        .leaflet-control-layers-selector {
            fill: $blue;
        }
    }

    .side-control-trigger {

        @include button;
        font-size: 20px;
        position: absolute;
        height: 80px;
        width: 40px;
        bottom: 0;
        right: -40px;
        
        &:hover { 
            @include buttonHover;
        }  

        .fa-arrow-left {
            display: none;
        }

        .fa-arrow-right {
            display: block;
        }
    }
}

.active {
    left: 0px;
}

@media only screen and (max-width: 700px) {
    header{ 
        .search-container {
            margin: 20px 20px 20px 20px;
        }

        .logo {
            margin-top: 23px;
        }
    }
}

@media only screen and (max-width: 450px) {
    header{ 
        .search-container {
            margin: 20px 20px 20px 20px;
        }
    }
    #searchtext17 {
        width: auto!important;
        min-width: 200px;
    }
}
